body {
    background-image: url('https://images7.alphacoders.com/901/thumb-1920-901882.jpg');
    background-size: cover;        /* cobre toda a tela */
    background-repeat: no-repeat;  /* não repete a imagem */
    background-position: center;   /* centraliza a imagem */
    
  }
  

h1 {
    text-align: center;
    color: mediumvioletred;
    background-color: rgb(230, 189, 213);
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #ffffff;
    background-color: #662020;
    border-radius: 8px;
}


.adaimagem2 {
    width: 35%; height: 35% ;
}

.adagif1 {
    width: 30%; height: 30% ;
}