body {
    background-image: url('https://images3.alphacoders.com/134/thumb-1920-1343895.png');
    background-size: cover;        /* cobre toda a tela */
    background-repeat: no-repeat;  /* não repete a imagem */
    background-position: center;   /* centraliza a imagem */
    
  }
  



.resident {
    text-align: center;
    background-color: rgb(116, 58, 58);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px; 
}

.personagens {
    text-align: center;
    background-color: rgb(116, 58, 58);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    
}



.texto1 {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: #463931;
    width: 120px;
    height: 50px;    
    border-radius: 11%;
    border-color: #402f25;
}

a {
    text-decoration: none;
    color: rgb(236, 236, 236);
    font-family: cursive;
    font-weight: bold;
    font-size: medium;
}

.leonkennedy {
    color: #724224;
    font-size:xx-large;
    margin-left: 10px;      
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img {
    margin-right: 30px;
    border-radius: 20px;
}

.texto2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    max-width: 1289px;
    color: #ffffff;
} 

.adawong {
    margin-left: 10px;      
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#7b3030 ;
}

.ada {
    width:30% ; height: 30%;
}

.textoada {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    max-width: 1289px;
    color: #ffffff;
}

.nomeashley{
    margin-left: 10px;      
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #bd6619;
}

.imgashley {
    width: 30%; height: 30%;
}

.textoashley {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    max-width: 1289px;
    color: #ffffff;
}

.botaoada {
    background-color: #621616;
    width: 120px;
    height: 50px;    
    border-radius: 11%;
    border-color: #350909;
}

.botaoashley {
    background-color: #e19049;
    width: 120px;
    height: 50px;    
    border-radius: 11%;
    border-color: #bd6619;
}