body {
    background-image: url('https://images.alphacoders.com/133/thumb-1920-1339211.png');
    background-size: cover;        /* cobre toda a tela */
    background-repeat: no-repeat;  /* não repete a imagem */
    background-position: center;   /* centraliza a imagem */
    
  }
  

body {
    color: rgb(237, 199, 218);
}

h1 {
    text-align: center;
    color: mediumvioletred;
    background-color: rgb(244, 159, 183);
    border-radius: 8px;
}

img {
    display: block;
    margin: 0 auto;
    width: 30%; height: 30%;
}

.gatoo {
    width: 20% ; height: 20% ;
}

.res4 {
    width: 22% ; height: 22% ;
}

.davibrito {
    width: 40% ; height: 40% ;
}

.calmacalabreso {
    width: 16% ; height: 16% ;
}